.chat-container {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 40vw;
  padding: 2em;
  gap: 1rem;
  background-color: rgb(171, 198, 218);
}

.chat-container button {
  color: black;
}

.header {
  margin-bottom: 0.5rem;
}

.header-message {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.chat-window {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid black;
  background-color: white;
  padding: 2rem 2rem 2rem 1rem;
}

.message-container {
  display: flex;
  justify-content: space-between;
}

.message-input {
  padding-left: 1rem;
  width: 70%;
}

.message {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.username {
  min-width: 80px;
  font-weight: bold;
}

.message-content {
  flex: 1;
  word-wrap: break-word;
}